#SecFilterEngine Off

<IfModule mod_rewrite.c>
  RewriteEngine on
  Options +FollowSymlinks
  Options -MultiViews


#Standard rules of FokCMS
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^blog/(.*)$ blog/$1 [L]
  RewriteRule ^images/(.*)$ image.php?s=$1 [L]
  RewriteRule ^robots.txt$ robots.php [L]
  RewriteRule ^sitemap.xml$ sitemap.php [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php
</IfModule>
