<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=<TMPL_VAR NAME='CHARSET'>">
	</head>
	<body>
		<table border="1" width="100%" cellpadding="5">
			<tr>
				<td><TMPL_VAR NAME='LNG_Name'></td>
				<td><TMPL_VAR NAME='Name'></td>
			</tr>
			<tr>
				<td><TMPL_VAR NAME='LNG_Email'></td>
				<td><TMPL_VAR NAME='Email'></td>
			</tr>
			<tr>
				<td><TMPL_VAR NAME='LNG_City'></td>
				<td><TMPL_VAR NAME='City'></td>
			</tr>
			<tr>
				<td><TMPL_VAR NAME='LNG_Topic'></td>
				<td><TMPL_VAR NAME='Topic'></td>
			</tr>
			<tr>
				<td><TMPL_VAR NAME='LNG_Question'></td>
				<td><TMPL_VAR NAME='Question'></td>
			</tr>
			<tr>
		</table>
	</body>
</html>