<div class="col-md-12">
	<section class="box">
		<header class="panel_header">
			<h2 class="title pull-left"><TMPL_VAR NAME='LNG_CityList'></h2>
		</header>
		<div class="content-body">
			<div class="col-md-6 no-padding form-group form-inline">
				<a href="<TMPL_VAR NAME='ADMIN_PATH'>city.php?CityID=" class="btn btn-success btn-icon right15"><i class="fa fa-plus"></i><TMPL_VAR NAME='LNG_AddCity'></a>
			</div>
			<div class="clearfix"></div>
			<form action="<TMPL_VAR NAME='ADMIN_PATH'>city.php" method="post" id="city-list">
				<TMPL_IF NAME='MessageList'>
					<div class="alert alert-success"><TMPL_LOOP NAME='MessageList'><TMPL_VAR NAME='Message'><TMPL_UNLESS NAME='__LAST__'><br /></TMPL_UNLESS></TMPL_LOOP></div>
				</TMPL_IF>
				<TMPL_IF NAME='CityList'>
					<p><TMPL_VAR NAME='ListInfo'></p>
					<table class="table" id="listing">
						<thead>
							<tr>
								<th width="25"><input type="checkbox" class="icheck-minimal-green check-all" InputName="ListIDs[]" /></th>
								<th><TMPL_VAR NAME='LNG_CityName'></th>
								<th ><TMPL_VAR NAME='LNG_Domain'></th>
								<th ><TMPL_VAR NAME='LNG_Phone'></th>
								<th ><TMPL_VAR NAME='LNG_Email'></th>
								<!-- <th ><TMPL_VAR NAME='LNG_Current'></th> -->
								<th width="40">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<TMPL_LOOP NAME='CityList'>
								<tr <TMPL_IF NAME="Selected">class="active"</TMPL_IF>>
									<td><input type="checkbox" class="icheck-minimal-green" name="ListIDs[]" value="<TMPL_VAR NAME='CityID'>" /></td>
									<td><a href="<TMPL_VAR NAME='ADMIN_PATH'>city.php?&CityID=<TMPL_VAR NAME='CityID'>"><TMPL_VAR NAME='CityName'></a></td>
									<td><TMPL_VAR NAME='Domain'></td>
									<td><TMPL_VAR NAME='Phone'></td>
									<td><TMPL_VAR NAME='Email'></td>
									<!-- <td><input type="checkbox" class="icheck-minimal-green"/></td> -->
									<td>
										<a href="<TMPL_VAR NAME='ADMIN_PATH'>city.php?&Do=Remove&ListIDs[]=<TMPL_VAR NAME='CityID'>" title="<TMPL_VAR NAME='LNG_Remove'>" onclick="ConfirmRemove('<TMPL_VAR NAME='CityName' ESCAPE='js'>', this); return false;"><i class="fa fa-close delete"></i></a>
									</td>
								</tr>
							</TMPL_LOOP>
						</tbody>
					</table>
				<TMPL_ELSE>
					<div class="alert alert-success"><TMPL_VAR NAME='LNG_Empty'></div>
				</TMPL_IF>
			
				<TMPL_IF NAME='CityList'>
					<div class="col-md-6 no-padding form-inline">
						<a href="#" onclick="return MultipleRemove($('#city-list')[0], 'ListIDs[]');" class="btn btn-danger btn-icon right15"><i class="fa fa-remove"></i><TMPL_VAR NAME='LNG_RemoveMultiple'></a>
					</div>
				</TMPL_IF>
				<div class="clearfix"></div>
				<input type="hidden" name="Do" value="" />
				<TMPL_VAR NAME='ParamsForForm' ESCAPE='none'>	
			</form>
		</div>
	</section>
</div>

<script type="text/javascript">
function MultipleRemove(form, elmName)
{
	var checked = 0;
	for (var i = 0; i < form.elements.length; i++)
	{
		if (form.elements[i].name == elmName && form.elements[i].type == "checkbox" && form.elements[i].checked)
		{
			checked++;
		}
	}

	if (checked == 0)
	{
		alert('<TMPL_VAR NAME='LNG_NoSelection' ESCAPE='js'>');
	}
	else
	{
		ModalConfirm('<TMPL_VAR NAME='LNG_ConfirmRemoveMultiple' ESCAPE='js'>', function(){
			form.elements['Do'].value = 'Remove';
			form.submit();
		});
	}
	return false;
}
function ConfirmRemove(title, a)
{
	var msg = '<TMPL_VAR NAME='LNG_ConfirmRemove' ESCAPE='js'>';
	msg = msg.replace(/%CityName%/g, title);
	ModalConfirm(msg, function(){
		window.location.href = $(a).attr('href');
	})
}
</script>
